
/* common */
body		{ margin:0px; font-family:Arial,Tahoma,Helvetica,sans-serif; bgcolor:#FFFFFF; color:#000000; }
table		{ border:0px; }
img		{ border:0px; }
a		{ color:#0066FF; }
a:hover		{ text-decoration:none; }
h1		{ font-size:1.3em; font-weight:normal; margin:0px; }
h2		{ font-size:0.95em; font-weight:bold; margin:0px; }
p		{ font-size:0.75em; }

/* classes */
.text		{ font-size:0.75em; }
.textsml	{ font-size:0.7em; }
.toolbar	{ font-size:0.7em; height:23px; background:url('/admin/images/toolbar.gif') repeat-x top #F0F3F9; text-align:left; }
/*.toolbar a	{ margin:0px 10px 0px 10px; }*/
.path		{ font-size:0.7em; color:#0066FF; }
.global		{ font-size:0.7em; float:right; text-align:center; margin-left:1.5em; }
.copy		{ font-size:0.6em; color:#666666; padding-bottom:3px; }
.command	{ font-size:0.95em; font-weight:bold; padding-top:3px; }
.command ul	{ font-size:0.8em; font-weight:normal; margin:3px 0px 0px 18px; padding:0px; list-style-image:url('/admin/images/bullet1.gif'); }
.command ul .selected	{ list-style-image:url('/admin/images/bullet2.gif'); }
.command ul .selected a	{ color:red; }
.btn_add	{ background-color:#3C9D3C; width:17px; height:17px; } 
.btn_edit	{ background-color:#FFBF38; width:17px; height:17px; } 
.btn_del	{ background-color:#FF4538; width:17px; height:17px; } 
.btn_copy	{ background-color:#BA52DD; width:17px; height:17px; }
.btn_move	{ background-color:#1887FF; width:17px; height:17px; } 
.btn_view	{ background-color:#3AE8CA; width:17px; height:17px; }
.btn_disable	{ background-color:#CCCCCC; width:17px; height:17px; }
.btn_list	{ background-color:#00B391; width:17px; height:17px; }
.error		{ color:red; }
ul.error	{ font-size:0.75em; }
.hidden		{ color:#999999; }
.hidden	a	{ color:#999999; }
.img		{ border:1px solid #DADBE5; }
div.error	{ font-size:0.8em; }
.module		{ font-size:1.25em; font-weight:bold; text-align:left; }

fieldset	{ margin:0 0 0.5em 0; padding:2px; border:1px solid #DADBE5; }
legend		{ font-size:0.8em; }
legend	a	{ text-decoration:none; font-weight:bold; padding-left:12px; background:url('/admin/images/rolldown.gif') no-repeat center left; }
/* tables */
.table		{ font-size:0.75em; border:1px solid #DADBE5; }
.table tr th	{ background:url('/admin/images/th1.gif') repeat-x top #E7EFF5; border-top:1px solid #BEC4DA; border-bottom:1px solid #BEC4DA; color:#000066; white-space:nowrap; }
.table thead th	{ background:url('/admin/images/th.gif') repeat-x top #F0F7FF; border-top:1px solid #BEC4DA; border-bottom:1px solid #BEC4DA; color:#000066; white-space:nowrap; }
.table th.error	{ color:red; white-space:nowrap; }
.table thead a	{ color:#000066; text-decoration:none; width:90%; }
.table td	{ background:url('/admin/images/td.gif') repeat-x top #F8FCFF; border-top:1px solid #DADBE5; border-right:1px solid #DADBE5; }
.table td.error	{ color:red; }
.table .none	{ background:none; border:none; }
.table caption	{ font-size:1.2em; padding-bottom:0; }
.table .group   { background:#003E93; color:#FFFFFF; height:30px; }

.dialog		{ border:1px solid #C7DFE3; }
.dialog th	{ background:url('/admin/images/th.gif') repeat-x top #F0F7FF; border-top:1px solid #CBD1E2; border-bottom:1px solid #CBD1E2; }
.dialog .main	{ background:url('/admin/images/dialog_bg.gif') repeat-x top #F8FCFF; }

.editor		{ background-color:#EBEEF5; margin-top:5px; border:1px solid #DADBE5; }
.editor textarea	{ border:1px solid #C7DFE3; }	
.editor iframe	{ background-color:#FFFFFF; border:1px solid #C7DFE3; }

.editor	td	{ border:0px; background:none; }
.editor	a	{ background-color:#B9D7DC; }
.editor .up 	{ background:url('/editor/images/editor_bg1.gif') repeat-x top; }
.editor .down	{ background:url('/editor/images/editor_bg2.gif') repeat-x bottom; }

/* forms */
form		{ margin:0px; }
option.hidden	{ background-color:#EEEEEE; }
label		{ cursor:hand; }

input		{ font-size:11pt; border:1px solid #C7DFE3; color:#336699; }
textarea	{ font-size:11pt; border:1px solid #C7DFE3; }
select		{ font-size:9pt; border:1px solid #C7DFE3; color:#336699; }

.button		{ width:120px; background:url('/admin/images/button.gif') repeat-x top #C5C4D6; border:1px solid #003C74; color:#000000; font-size:0.8em; }
.table .button	{ font-size:1.2em; }
.dialog .button	{ font-size:1.2em; }
.radio		{ border:0px; }
.checkbox	{ border:0px; }

.control	{ font-size:10pt; background-color:#FFFFFF; border:1px solid #C7DFE3; color:#336699; }
.txt		{ font-size:11pt; border:0px solid #C7DFE3; color:#336699; }